@import '~antd/dist/reset.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Montserrat', sans-serif;
}

.large-wallet > .wallet-adapter-dropdown > .wallet-adapter-button {
    border-radius: 24px !important;
    background-color: transparent !important;
    @apply ring-black/10 ring-[0.5px] !text-gray-900 !text-xs whitespace-nowrap hover:!bg-zinc-100 transition
}

.small-wallet > .wallet-adapter-dropdown > .wallet-adapter-button {
    border-radius: 24px !important;
    background-color: transparent !important;
    @apply !text-gray-600 !text-[10px] whitespace-nowrap !h-6 !px-2 ring-black/10 ring-[0.5px] hover:!bg-zinc-100 transition
}

.small-wallet > .wallet-adapter-dropdown > .wallet-adapter-button > i {
    background-color: transparent !important;
    @apply h-4 w-4
}
